<!DOCTYPE html>

<head>
    <link href="../css/easterEgg.css" rel="stylesheet" />
</head>

<body>

    <h1>Welcome</h1>
    <!-- <img id="test" src="./img/dumbbell.png" style="width: 200px;"> -->
    <!-- <canvas id="canvas" height="500" width="350"></canvas> -->

    <script>
        // set global game variables
        var floorY = 1600;
        var ceilingY = 300;
        var weightX = 450;
        var weightY = 1600;
        var weightWidth = 600;
        var weightHeight = 250;
        var letGoTime = 0;
        var floorTime = 0;
        var shakeOffset = [60, 48, 36, 24, 12];
        var isBouncing = false;
        var reps = 0;
        var repFinished = false;

        // create canvas
        var canvas = document.createElement("canvas");
        canvas.width = 900;
        canvas.height = 2000;

        // get context
        var ctx = canvas.getContext("2d");
        ctx.fillStyle = "black";
        ctx.fillRect(0, 0, canvas.width, canvas.height);
        ctx.font = "80px sans-serif";

        // create gradient
        var grd = ctx.createLinearGradient(0, 1400, 0, 2000);
        grd.addColorStop(0, "black");
        grd.addColorStop(1, "#555");
        ctx.fillStyle = grd;
        // ctx.fillRect(10, 10, 150, 80);

        // load image
        var weightImg = new Image();
        weightImg.src = "./img/dumbbell.png";
        weightImg.onload = function () {
            drawImgAt(450, 1600);
        };

        function drawImgAt(x, y) {
            ctx.drawImage(
                weightImg,
                x - weightWidth / 2,
                y - weightHeight / 2,
                weightWidth,
                weightHeight
            );
        }

        //Add Canvas
        canvas.id = "main";
        document.body.appendChild(canvas);

        function drawAtMouse(event) {
            console.log(
                "clientX: " + event.clientX +
                " - clientY: " + event.clientY
            );
            drawImgAt(event.clientX, event.clientY);
        }

        function lift() {
            weightY -= 200 - 20 * reps;
            letGoTime = 0;
        }

        canvas.addEventListener("click", lift);

        // start game clock
        setInterval(() => {
            if (weightY - ceilingY < 200 & !repFinished) {
                repFinished = true;
                reps++;
            }

            weightY = Math.max(weightY, ceilingY);

            if (floorTime > 4) {
                isBouncing = false;
            }

            if (isBouncing) {
                weightY += 10 * letGoTime * letGoTime - shakeOffset[floorTime];
                floorTime += 1;
            } else {
                weightY += 10 * letGoTime * letGoTime;
            }

            if (weightY >= floorY) {
                if (letGoTime > 5) {
                    isBouncing = true;
                    floorTime = 0;
                }
                letGoTime = 0;
                repFinished = false;
                weightY = floorY;
            }

            ctx.fillStyle = grd;
            ctx.fillRect(0, 0, canvas.width, canvas.height);
            drawImgAt(weightX, weightY);

            ctx.fillStyle = "white";
            if (reps < 1) {
                ctx.fillText("Tap to lift! ", 280, 80);
            } else {
                ctx.fillText('Reps: ' + reps, 300, 80);
            }

            letGoTime += 1;
        }, 100)
    </script>

</body>