<%- include("templates/header") %>
    <div id="valid-session-home-container" class="container-fluid px-5 mt-5">
        <h1>Hello, <%= name %>!</h1>
        <div class="row mx-auto mt-5">
            <div id="userRoutine">
                <h2>Your Routine</h2>
                <%- dayCards %>
            </div>
        </div>
        <br>
    </div>
<%- include("templates/footer") %>

<script>
    const head = document.querySelector('head');
    const link = document.createElement('link');

    link.rel = 'stylesheet';
    link.href = 'css/index_validSession.css';

    head.appendChild(link);
</script>