<%- include("templates/header") %>
    <% if (!authenticated) { %>
        <div class="container-fluid video-container">
            <video autoplay loop muted>
                <source src="video/login_bg.mp4" type="video/mp4">
            </video>
            <div class="overlay">
                <div class="container px-5 mt-5">
                    <h1 class="text-start mb-5">Welcome to mytrAIner!</h1>
                    <button class="p-2 m-2 col-sm-2 btn btn-primary"
                        onclick="location.href = window.location.origin + '/login'">Login</button>
                    <button class="p-2 m-2 col-sm-2 btn btn-primary"
                        onclick="location.href = window.location.origin + '/signup'">Sign Up</button>
                </div>
            </div>
        </div>
        <% } else { %>
            <div class="container-fluid px-5 mt-5">
                <h1>Hello, <%= name %>!</h1>
                <div class="row mx-auto mt-5">
                </div>
                <br>
            </div>
            <% } %>
<%- include("templates/footer") %>
<script>
    const head = document.querySelector('head');
    const link = document.createElement('link');

    link.rel = 'stylesheet';
    link.href = 'css/home_noSession.css';

    head.appendChild(link);
</script>