<%- include("templates/header") %>
    <div class="container px-5">
        <div class="animate__animated animate__fadeInDown alert alert-success collapse fixed-top text-center" id="success-message" role="alert"></div>
        <div class="animate__animated animate__fadeInDown alert alert-danger collapse fixed-top text-center" id="error-message" role="alert"></div>
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div class="animate__animated animate__fadeInLeft wrap d-md-flex justify-content-center pt-5">
                    <div class="login-wrap p-4 p-md-5">
                        <div class="d-flex">
                            <div class="w-100">
                                <h3 class="mb-4">Sign In</h3>
                            </div>
                        </div>
                        <form class="signin-form" id="login-form" action='/login/submit' method='post'>
                            <div class="form-group mb-3">
                                <label class="label" for="name">Username or email address</label>
                                <input class="form-control" autocomplete="off" name='usernameOrEmail' type='text'>
                            </div>
                            <div class="form-group mb-3">
                                <label class="label" for="password">Password</label>
                                <input class="form-control" autocomplete="off" name='password' type='password'>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary rounded submit px-3" id="login-button">Sign
                                    In</button>
                            </div>
                            <div class="form-group d-md-flex">
                                <div class="w-50 text-left">
                                    <label class="checkbox-wrap checkbox-primary mb-0">Remember Me
                                        <input type="checkbox" checked="">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="w-50 text-md-right">
                                    <a href="/changePassword/begin">Forgot Password</a>
                                </div>
                            </div>
                        </form>
                        <p class="text-center">Not a member? <a href="/signup">Sign Up</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include("templates/footer") %>
<script src="/js/loginValidation.js"></script>