<%- include("templates/header") %>
    <div class="container px-5">
        <div class="alert alert-success collapse fixed-top text-center" id="success-message" role="alert"></div>
        <div class="alert alert-danger collapse fixed-top text-center" id="error-message" role="alert"></div>
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div id="loginSkeleton" class="wrap d-md-flex justify-content-center">
                    <div class="login-wrap p-4 p-md-5">
                        <div class="d-flex">
                            <div id="signinTitle" class="w-100">
                                <h3 class="mb-4">Sign In</h3>
                            </div>
                        </div>
                        <form class="signin-form" id="login-form" action='/login/submit' method='post'>
                            <div class="form-group mb-3">
                                <label class="label" for="name">Username or email address</label>
                                <input class="form-control" autocomplete="off" name='usernameOrEmail' type='text'>
                            </div>
                            <div class="form-group mb-3">
                                <label class="label" for="password">Password</label>
                                <!-- <input class="form-control" autocomplete="off" name='password' type='password'> -->
                                <div class="input-group mb-3">
                                    <input id="password-field" name="password" type="password" class="form-control">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button" id="password-vis"
                                            style="padding-bottom: 0; padding-left: 10px;">
                                            <span class="material-symbols-outlined">
                                                visibility
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary rounded submit px-3"
                                    id="login-button">Sign
                                    In</button>
                            </div>
                            <div class="form-group d-md-flex">
                                <div class="text-left">
                                    <label class="checkbox-wrap checkbox-primary mb-0">Remember Me
                                        <input type="checkbox" checked="">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                            <div id='forgotPassword' class="text-md-center mb-3">
                                <a href="/changePassword/begin">Forgot Password</a>
                            </div>
                        </form>
                        <p class="text-center">Not a member? <a href="/signup">Sign Up</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/loginValidation.js"></script>
    <script>
        document.getElementById('password-vis').addEventListener("click", () => {
            togglePassVisibility('password-field');
        });
        function togglePassVisibility(elemId) {
            let passField = document.getElementById(elemId);
            if (passField.type == 'password') {
                passField.type = 'text'
            } else if (passField.type == 'text') {
                passField.type = 'password'
            }
        }
    </script>
    <%- include("templates/footer") %>
        