<%- include("templates/header") %>
<button type="button" onclick="createRoutine()">Generate a routine</button>
<div id="generatedRoutine"></div>

<script src="../js/createRoutine.js"></script>
<%- include ("templates/footer")%>