<%- include("templates/header")%>
<style>
  hr {
    border-color: white;
  }

  .range-container {
    width: 100%;
  }
  
  .range-input {
    width: 90%;
  }
  
  .range-output {
    color: white;
  }
  
</style>
<div class="mt-5 mx-auto">
    <h2 class="fw-bold text-center my-3">Thanks for choosing mytrAIner!</h2>
    <h4 class="fw-bold text-center my-3">To get started simply fill out the form below with your information!</h4>
</div>
<div ></div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
    <form id="setupForm" class="setup-form">
    <div class="form-group">
        <div class="grid">
            <div class="col text-left">
              <label for="age">Age:</label>
              <input type="number" name="age" id="age" class="form-control" placeholder="Age" aria-label="Age">
            </div>
                
            <div class="col text-left mt-2">
              <div>
                <label for="gender">Gender:</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" id="male" name="gender" value="male">
                <label class="form-check-label" for="male">Male</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" id="female" name="gender" value="female">
                <label class="form-check-label" for="female">Female</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" id="undisclosed" name="gender" value="undisclosed">
                <label class="form-check-label" for="undisclosed">Rather not say</label>
              </div>
            </div>
            </div>
          </div>


          <div class="grid my-3">
            <div class="col text-left">
              <label class="form-label">Weight (lbs):</label>
              <input name="weight" id="weight" type="number" class="form-control" placeholder="Weight">
            </div>
            <div class="col text-left mt-2">
              <label class="form-label">Height:</label>
              <div class="row">
                <div class="col">
                  <input name="feet" id="feet" type="number" class="form-control" placeholder="Feet">
                </div>
                <div class="col">
                  <input name="inches" id="inches" type="number" class="form-control" placeholder="Inches">
                </div>
              </div>
            </div>
          </div>
          
            <div class="my-3 mx-3">
                <label for="exampleFormControlTextarea1" class="form-label">Please state your goals for using this app</label>
                <textarea name="goals" id="goals" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
          <hr>  
          <div class="py-3 range-container">
            <p class="fw-bold">On a scale of 1 through 10 with 10 being very experienced and 1 being not experienced, how experienced are you in exercise?</p>
          
            <input name="experience" type="range" value="5" min="1" max="10" oninput="this.nextElementSibling.value = this.value" class="range-input">
            <output id="experience" class="range-output">5</output>
          </div>
            <!-- <div class="py-3"><label for="equipment" class="form-label">What kind of equipment is available to you? (include gym equipment if applicable)</label>
              <select id="equipment" class="form-select" aria-label="Default select example">
                <option selected>Equipment</option>
                <option value="Only bodyweight">One</option>
                <option value="dumbell">Two</option>
                <option value="3">Three</option>
              </select>
            </div> -->
          <hr>  

            <div>
                <h4 class="fw-bold text-center mt-3"></h4>
                
                  <p class="fw-bold">Choose one or more Exercise types that you enjoy</p>
                  <div class="form-check py-3">
                    <input name="cardio" class="form-check-input" type="checkbox" value="" id="cardio" />
                    <label class="form-check-label" for="cardio">
                        <b>Cardiovascular exercises:</b> These are exercises that increase your heart rate and breathing rate, such as running, cycling, swimming, and jumping jacks.
                    </label>
                  </div>
              
                  <!-- Checked checkbox -->
                  <div class="form-check py-3">
                    <input name="strength" class="form-check-input" type="checkbox" value="" id="strength" />
                    <label class="form-check-label" for="strength">
                        <b>Strength training exercises:</b> These are exercises that involve resistance to build and strengthen muscles, such as weightlifting, push-ups, pull-ups, and squats.
                    </label>
                  </div>
              
                  <!-- Checked checkbox -->
                  <div class="form-check py-3">
                    <input name="flexibility" class="form-check-input" type="checkbox" value="" id="flexibility" />
                    <label class="form-check-label" for="flexibility">
                        <b>Flexibility exercises:</b> These are exercises that improve your range of motion and flexibility, such as yoga, Pilates, and stretching.
                    </label>
                  </div>
                
                  <div class="form-check py-3">
                    <input name="balance" class="form-check-input" type="checkbox" value="" id="balance" />
                    <label class="form-check-label" for="balance">
                        <b>Balance exercises:</b> These are exercises that improve your stability and balance, such as standing on one leg, yoga poses, and balancing on a stability ball.
                    </label>
                  </div>

                  <div class="form-check py-3">
                    <input name="high" class="form-check-input" type="checkbox" value="" id="high-intensity" />
                    <label class="form-check-label" for="high-intensity">
                        <b>High-Intensity Interval Training (HIIT):</b> These are exercises that alternate periods of high-intensity exercise with periods of rest or low-intensity exercise, such as sprinting, burpees, and jumping jacks.
                    </label>
                  </div>

                  <div class="form-check py-3">
                    <input name="low" class="form-check-input" type="checkbox" value="" id="low-impact" />
                    <label class="form-check-label" for="low-impact">
                        <b>Low-impact exercises:</b> These are exercises that are easy on your joints, such as walking, cycling, and swimming.
                    </label>
                  </div>

                  <div class="form-check py-3">
                    <input name="sport" class="form-check-input" type="checkbox" value="" id="sport" />
                    <label class="form-check-label" for="sport">
                        <b>Sports-specific exercises:</b> These are exercises that are designed to improve your performance in a specific sport, such as basketball, football, or tennis.
                    </label>
                  </div>

                  <div class="form-check py-3">
                    <input name="functional" class="form-check-input" type="checkbox" value="" id="functional" />
                    <label class="form-check-label" for="functional">
                        <b>Functional training exercises:</b> These are exercises that simulate movements you use in everyday life, such as lifting groceries or bending down to pick up a child, and can improve your overall strength and flexibility.
                    </label>
                  </div>

                  <div class="form-check py-3">
                    <input name="bodyweight" class="form-check-input" type="checkbox" value="" id="bodyweight" />
                    <label class="form-check-label" for="bodyweight">
                        <b>Bodyweight exercises:</b> These are exercises that use your own body weight as resistance, such as push-ups, pull-ups, squats, and lunges.
                    </label>
                  </div>

                  <div class="form-check">
                    <input name="endurance" class="form-check-input" type="checkbox" value="" id="endurance" />
                    <label class="form-check-label" for="endurance">
                        <b>Endurance exercises:</b> These are exercises that improve your ability to sustain physical activity over a long period of time, such as long-distance running, cycling, or swimming.
                    </label>
                  </div>
              </div>
        <hr> 
        <div class="card-footer text-center">
          <div class="row justify-content-center mt-2">
            <div class="col-md-auto">
              <button type="submit" class="btn btn-success">Submit</button>
            </div>
          </div>
        </div>
        
      </form>
      </div>
      <div id="generatedRoutine"></div>
    </div>
  </div>
</div>
  <script src="js/generatePrompt.js"></script>
<%- include("templates/footer")%>