<%- include("templates/header") %>
    <div class="container px-5">
        <div class="alert alert-success collapse fixed-top text-center" id="success-message" role="alert"></div>
        <div class="alert alert-danger collapse fixed-top text-center" id="error-message" role="alert"></div>
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-8">
                <div id="signupSkeleton" class="wrap d-md-flex justify-content-center"></div>
                    <div class="wrap signup-card">
                        <!-- <div class="col-md-4">
                            <img src="#" class="img-fluid" alt="Sign Up image">
                        </div> -->
                        <div class="login-wrap p-4 p-md-5">
                            <div class="d-flex">
                                <div id="signupTitle" class="w-100">
                                    <h3 class="mb-4">Sign Up</h3>
                                </div>
                            </div>
                            <form class="signup-form" id="signup-form" action='/signup/submit' method='post'>
                                <div class="form-group mb-3">
                                    <label class="label" for="name">Name</label>
                                    <input class="form-control" autocomplete="off" name='name' type='text'
                                        placeholder='name'>
                                </div>
                                <div class="form-group mb-3">
                                    <label class="label" for="name">Email</label>
                                    <input class="form-control" autocomplete="off" name='email' type='email'
                                        placeholder='email'>
                                </div>
                                <div class="form-group mb-3">
                                    <label class="label" for="password">Password</label>
                                    <!-- <input class="form-control" autocomplete="off" name='password' type='password'> -->
                                    <div class="input-group mb-3">
                                        <input id="password-field" name="password" type="password" class="form-control" placeholder="password">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" type="button" id="password-vis"
                                                style="padding-bottom: 0; padding-left: 10px;">
                                                <span class="material-symbols-outlined">
                                                    visibility
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card bg-dark my-3">
                                    <div class="card-body">
                                        <p>In case you ever need to recover your account, please provide a security
                                            question.</p>
                                        <div class="form-group mb-3">
                                            <label class="label" for="question">Security question</label>
                                            <input class="form-control" autocomplete="off" name='question'
                                                placeholder='question'>
                                        </div>
                                        <div class="form-group mb-3">
                                            <label class="label" for="answer">Answer</label>
                                            <input class="form-control" autocomplete="off" name='answer'
                                                placeholder='answer'>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button id="signup-button" type="submit" class="form-control btn btn-primary rounded submit px-3">Sign
                                        Up</button>
                                </div>
                            </form>
                            <p class="text-center">Already a member? <a href="/login">Sign In</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include("templates/footer") %>
<script src="/js/signupValidation.js"></script>
<script>
    document.getElementById('password-vis').addEventListener("click", () => {
        togglePassVisibility('password-field');
    });
    function togglePassVisibility(elemId) {
        let passField = document.getElementById(elemId);
        if (passField.type == 'password') {
            passField.type = 'text'
        } else if (passField.type == 'text') {
            passField.type = 'password'
        }
    }
</script>