<%- include("templates/header") %>
    <div class="container px-5">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div class="wrap d-md-flex pt-5">
                    <div class="col-md-4">
                        <img src="#" class="img-fluid" alt="Sign Up image">
                    </div>
                    <div class="login-wrap p-4 p-md-5">
                        <div class="d-flex">
                            <div class="w-100">
                                <h3 class="mb-4">Sign Up</h3>
                            </div>
                        </div>
                        <form class="signup-form" action='/signup/submit' method='post'>
                            <div class="form-group mb-3">
                                <label class="label" for="name">Name</label>
                                <input class="form-control" autocomplete="off" name='name' type='text'
                                    placeholder='name'>
                            </div>
                            <div class="form-group mb-3">
                                <label class="label" for="name">Email</label>
                                <input class="form-control" autocomplete="off" name='email' type='email'
                                    placeholder='email'>
                            </div>
                            <div class="form-group mb-3">
                                <label class="label" for="password">Password</label>
                                <input class="form-control" autocomplete="off" name='password' type='password'
                                    placeholder='password'>
                            </div>
                            <div class="form-group mb-3">
                                <label class="label" for="question">Security question</label>
                                <input class="form-control" autocomplete="off" name='question'
                                    placeholder='question'>
                            </div>
                            <div class="form-group mb-3">
                                <label class="label" for="answer">Answer</label>
                                <input class="form-control" autocomplete="off" name='answer'
                                    placeholder='answer'>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary rounded submit px-3">Sign
                                    Up</button>
                            </div>
                        </form>
                        <p class="text-center">Already a member? <a href="/login">Sign In</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include("templates/footer") %>