h5 {
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    position: relative;
}

.pagination-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #1B2021;
    padding: 10px;
    margin-top: 20px;
    font-weight: bold;
}

.pagination-container .page-link {
    background-color: #1B2021;
    color: white;
}

.pagination-container .page-item.active .page-link {
    background-color: #00244a;
    color: white;
}

.pagination-container .page-link {
    color: white;
}

/* Responsive styles */
@media (max-width: 414px) {
    main {
        padding: 0;
    }

    .table-responsive {
        max-width: 414px;
        overflow-x: auto;
    }

    .table th,
    .table td {
        font-size: 14pt;
        padding: 5px;
        max-width: 414px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .table td:first-child th:first-child {
        display: none;
    }

    .btn {
        font-size: 10pt;
        font-weight: bold;
        display: block;
        margin-bottom: 5px;
    }

    .pagination-container {
        padding: 5px;
        margin-top: 10px;
    }

    .pagination-container .page-link {
        font-size: 12pt;
        padding: 2px 6px;
    }

    .btn.btn-danger.btn-sm {
        margin-top: 2px;
    }
}