body {
    background-color: #1B2021;
}

/* Body scrollbar is hidden but still functional so that the bars don't appear when animation is triggered */
body::-webkit-scrollbar {
    width: 0;
    height: 0;
}

h1,
h2,
h3,
h4,
p,
label {
    color: white;
}

#easterEgg {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;

    touch-action: manipulation;

    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 1.5em;
    margin: -1.5em;
}