/* Animations.css here (for animating elements; docs: https://animate.style/) */
nav {
    animation: fadeInDown;
    animation-duration: 1s;
}

#navHamburger {
    color: white;
}


/* Standard CSS styling */
@font-face {
    font-family: cardium;
    src: url(../fonts/Cardium.otf);
}

body {
    font-family: cardium, sans-serif;
    font-weight:lighter !important;
}

.navbar-brand {
    color: white !important;
    font-size: 25pt;
}

.nav-link {
    color: lightgrey !important;
    transition: ease-in-out 0.3s;
}

.nav-link:hover {
    color: white !important;
    transition: ease-in-out 0.3s;
}

#navContainer {
    margin-bottom: 100px;
} 