@font-face {
    font-family: retroica;
    src: url(../fonts/Retroica.ttf);
}

/* exercise-card
exercise-content
exercise-title
exercise-intensity  
day-card
day-title */

/* NOTE: CSS applied as a script in index.ejs because of different layouts for home page with and without session (see index.ejs for more details) */

/* Animations.css here (for animating elements; docs: https://animate.style/) */
.day-card {
    animation: backInLeft;
    animation-duration: 1s;
}

#routineTitle {
    animation: slideInLeft;
    animation-duration: 1s;
}

#HelloTitle {
    animation: slideInLeft;
    animation-duration: 1.1s;
}

/* 
Animated arrow that pulls down game menu on-click 
@credit https://codepen.io/simonbreiter/pen/oLJrKy
*/
.cardControls.hidden {
    max-height: 0;
}

.cardControls {
    max-height: 200px;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.hideMenuButton {
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow {
    /* background: linear-gradient(135deg, #27262e, transparent) #4a4750; */
    background-color: #4a4750;
    border-radius: 50%;
    box-shadow: 0 0 0 5px #4a4750;
    cursor: pointer;
    width: 1.25rem;
    height: 1.25rem;
    display: inline-block;
    position: relative;
    margin: 0 1rem;
    margin-top: 5px;
    transform: rotate(0deg);
    transition: transform 0.2s ease;
}

.arrow:hover {
    transform: rotate(180deg);
    transition: transform 0.2s ease;
}

/* .arrow:active {
    transform: rotate(0deg);
    transition: transform 0.2s ease;
} */

.arrow span {
    top: 0.5rem;
    position: absolute;
    width: 0.75rem;
    height: 0.1rem;
    background-color: #d7dfe3b0;
    display: inline-block;
    transition: all 0.2s ease;
}

.arrow span:first-of-type {
    left: 0;
    transform: rotate(45deg);
}

.arrow span:last-of-type {
    right: 0;
    transform: rotate(-45deg);
}

.arrow.active span:first-of-type {
    transform: rotate(-45deg);
}

.arrow.active span:last-of-type {
    transform: rotate(45deg);
}

.replaceExerciseButton {
    background: linear-gradient(180deg, #4b76d4, transparent) #59cbe9;
    border: none;
    color: white;
    transition: background-color 0.5s;
    margin-bottom: 10px;
    width: 100px;
}

.replaceExerciseButton:hover {
    background-color: #2028be;
}

.deleteExerciseButton {
    background: linear-gradient(180deg, #b0465f, transparent) #d4544b;
    border: none;
    color: white;
    transition: background-color 0.5s;
    margin-bottom: 10px;
    width: 100px;
}

.deleteExerciseButton:hover {
    background-color: #7e1b1b;
}

/* Standard CSS styling */
.exercise-card,
.modal-title,
.exercise-title,
.exercise-intensity {
    color: black;
}

.day-title,
.date-title {
    color: #ebebeb;
}

.day-title {
    font-family: retroica, sans-serif;
}

.day-card {
    background: linear-gradient(135deg, #27262e, transparent) #4a4750;
    border-radius: 10px;
    padding: 5px;
    margin-top: 15px;
}

.day-title {
    margin-left: 10px;
    margin-top: 5px;
}

.date-title {
    margin-left: 10px;
    /* margin-top: 5px; */
}

#modalBodyPart {
    font-style: italic;
}

#modalIntensity {
    font-weight: 600;
}

#instruction-title {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

#modalInstructions {
    padding-right: 20px;
}

.exercise-card {
    background: linear-gradient(135deg, #6c6c7ca9, transparent) #d7dfe3b0;
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
    transform: scale(1);
    transition: transform 0.5s;
}

.exercise-card:hover {
    transform: scale(1.05);
    transition: transform 0.5s;
}

.modal-body {
    padding-top: 3px;
}

#HelloTitle {
    font-family: retroica, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.info-link {
    color: black;
    border: none !important;
    outline: none !important;
}

.info-link:focus {
    border: none !important;
    outline: none !important;
}