/* #loader {
    display:none;
    border: 10px solid #f3f3f3;
    border-top: 10px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  } */




/* Animations.css here (for animating elements; docs: https://animate.style/) */
#fullPage h2 {
  animation: fadeInDown;
  animation-duration: 1s;
}

#fullPage h4 {
  animation: fadeInUp;
  animation-duration: 1.3s;
}

#setupFormContainer {
  animation: fadeInLeft;
  animation-duration: 1s;
}


/* Loading animation (CSS) */
#loaderAnimation {
  filter: invert(100%);
  position: fixed;
  width: 15em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

#loaderAnimation img {
  position: fixed;
  width: 15em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* Standard CSS styling */
@font-face {
  font-family: retroica;
  src: url(../fonts/Retroica.ttf);
}

#fullPage {
  background-color: #1b2021 !important;
  z-index: 9998 !important;
}

.setupTitles,
.exerciseTypes {
  font-family: retroica, sans-serif;
}

.exerciseTypeDesc {
  display: block;
}

/* Exercise descriptions fade in on hover only on desktop view */
@media only screen and (min-width: 780px) {
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .exerciseTypeDesc {
    display: none;
  }

  .exerciseTypes:hover+.exerciseTypeDesc {
    display: block;
    animation: fade-in 0.5s ease;
  }

  #setupFormContainer {
    padding-bottom: 100px;
  }

  #fullPage {
    margin-top: 150px;
  }
}