/* #loader {
    display:none;
    border: 10px solid #f3f3f3;
    border-top: 10px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  } */

/* Loading animation (CSS) */
#loaderAnimation {
  filter: invert(100%);
  position: fixed;
  width: 15em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

#loaderAnimation img {
  position: fixed;
  width: 15em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#fullPage {
  background-color: #1b2021 !important;
  z-index: 9998 !important;
}