/* NOTE: CSS applied as a script in index.ejs because of different layouts for home page with and without session (see index.ejs for more details) */

/* Animations.css here (for animating elements; docs: https://animate.style/) */
#success-message, #error-message {
    animation: fadeInDown;
    animation-duration: 1s;
  }

.signup-card {
    animation: fadeInLeft;
    animation-duration: 1s;
}


/* Standard CSS styling */
#signup-button {
    background: linear-gradient(180deg, #4b76d4, transparent) #59cbe9;
    border: none;
    color: white;
    transition: background-color 0.5s;
}

#signup-button:hover {
    background-color: #2028be;
}

#signupTitle {
  font-family: retroica, sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.login-wrap {
  background: linear-gradient(135deg, #27262e, transparent) #4a4750;
  border-radius: 10px;
  margin-top: 25px;
  margin-bottom: 50px;
}

#password-vis {
  background-color: #343a40;
}

a {
  color: #59cbe9;
}