/* NOTE: CSS applied as a script in index.ejs because of different layouts for home page with and without session (see index.ejs for more details) */

/* Animations.css here (for animating elements; docs: https://animate.style/) */



/* Standard CSS styling */
th, td, .form-text {
    color: white;
}

.btn-success {
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    #availabilityTable {
        width: 100%;
        overflow-x: auto;
    }
  }